<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <application
        android:name=".common.XLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".activity.SubscribeActivity"
            android:exported="false" />
        <activity
            android:name=".voicerecord.VoiceRecordActivity"
            android:exported="false"></activity>
        <activity android:name="com.chunxia.firebase.activity.FirebaseUIActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OneRoundChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MotherLanguageSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LearningLanguageSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.OpinionTrainingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddReviewCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TopicTrainingCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TopicTrainingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ReviewCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.BottomNavigationLightActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".voicerecord.services.RecorderService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.chatgpt.action.GET_RECORDER_INFO" />
                <action android:name="com.example.chatgpt.action.STOP_AMPLITUDE_UPDATE" />
                <action android:name="com.example.chatgpt.action.TOGGLE_PAUSE" />
            </intent-filter>
        </service>
    </application>

</manifest>