<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <application
        android:name="com.chunxia.chatgpt.common.XLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name="com.chunxia.chatgpt.voicerecord.VoiceRecordActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.chunxia.chatgpt.activity.ChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chunxia.chatgpt.subscription.SubscriptionActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.chunxia.chatgpt.activity.RecordingLanguageSettingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.chunxia.chatgpt.activity.VoiceLanguageSettingActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.chunxia.chatgpt.activity.TopicTrainingCardActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.chunxia.chatgpt.activity.TopicTrainingActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.chunxia.chatgpt.activity.BottomNavigationLightActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.chunxia.chatgpt.voicerecord.services.RecorderService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.chatgpt.action.GET_RECORDER_INFO" />
                <action android:name="com.example.chatgpt.action.STOP_AMPLITUDE_UPDATE" />
                <action android:name="com.example.chatgpt.action.TOGGLE_PAUSE" />
            </intent-filter>
        </service>


    </application>

</manifest>